/*#264653 */
/*#2a9d8f */
/*#e9c46a */
/*#f4a261 */
/*#e76f51
#d500f9 Rosa  */

/* selector de nombre */
 
html{
    font-family: 'Ubuntu', sans-serif;
}

a{
    text-decoration: none;
    color: #d500f9;
    
}
img{
    max-width:100%;
}
a:hover{
    opacity: 5.0;
}

.title{
    text-transform: capitalize;
    text-align: center;
}
/*este es la pagina en general que contiene el marco blanco*/
.container{
    background: #659999;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #f4791f, #659999);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #f4791f, #659999); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

 }

/*este es el marco blanco que contiene la tabla*/
.content{
    max-width: 960px;
    width: 100%;
    height: 80vh;
    background-color: white;
   /* box-shadow: diferenciaHorizontal diferenciaVertical desenfoque amplitud color;*/
   box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 3px 9px rgba(0, 0, 0, 0.23);
   border-radius: 4px;
   position: relative;
   overflow: scroll;

}
.content{
    padding: 1em;
}
td{display:block;
    width: 100%;

}
td:nth-of-type(1){
    font-size: 1.5em;
    font-weight: bold;
    color: #264653;

}

th{
    display: none;
}
/*sirve para animar un boton que nos devuelva a la pagina central*/
.actions{
    position: absolute;
    top: 1em;
    right: 1em;
}
/*sirve para modificar los parrafos de las otras paginas de pizzas*/
.paragraph{
    line-height: 1.8em;
    font-weight: 300;
}
.fa-star, .fa-star-o{
    color:#ffc400 ;
}
/* selector de clase */

.table{
    width: 100%;
    border-spacing: 0;
}
/*esto es para modificar los espacios de las tablas*/
.table td, .table th{
    padding: 1em;
    text-align: left;
}
.table tr:nth-child(even){ background-color: #f3e5f5}

.title-item{
    /* border-bottom-style: solid;
    border-width: 4px;
    border-color:#f4a261; */
    border-bottom: solid 4px #f4a261;
    padding: 1em;

}
.address{
    font-weight: bold;
    color:#e9c46a ;
    font-size: 1.2em;
    margin-top: 2em;
    display: inline-block;
}
.main-image{
    float: left;
    margin-right: 1em;
    height: 250px;
}

.position{
    background-color: #2a9d8f;
    color: white;
    padding: 0.5em;
    border-radius: 4px;
    margin-right: 0.5em;
}
.close{
    height: 40px;
    width: 40px;
    color: violet;
    border-radius: 50%;
    background-color: #264653;
    display: inline-block;
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.16), 0 3px 9px rgba(0, 0, 0, 0.23) ;
    font-weight: 300;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (min-width:900px){
    th{
        display: table-cell;
    }
    td{
        width: auto;
        display: table-cell;
    }
    td:nth-of-type(1){
        font-size: 1em;
        
        }
    .content{
        padding: 1.8em;
    }


    }


}

@media (min-height:550px){
    .content{
        height: 500px;
    }
}